.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* taken from view docs with some edits */

.translate-fade-enter-active,
.translate-fade-leave-active {
  transition: all 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.translate-fade-enter,
.translate-fade-leave-active {
  opacity: 0;
}
.translate-fade-enter {
  transform: translateX(100%);
}
.translate-fade-leave-active {
  transform: translateX(-100%);
}

/* The "backwarding" version*/

.translate-fade-backwarding-leave-active,
.translate-fade-backwarding-enter-active {
  transition: all 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.translate-fade-backwarding-enter {
  transform: translateX(-100%);
}
.translate-fade-backwarding-leave-active {
  opacity: 0;
}
.translate-fade-backwarding-leave {
  transform: translateX(0%);
}
.translate-fade-enter {
  transform: translateX(100%);
}
.translate-fade-enter-to {
  transform: translateX(0%);
}
.translate-fade-backwarding-leave-to {
  transform: translateX(100%);
}
